<form [formGroup]="form">
    <div class="form-group" style="width: 400px;">
        <label for="username">User Name</label>
        <input 
            formControlName="username"
            type="email" 
            id="username" 
            class="form-control">
        <div class="alert alert-danger" *ngIf="username?.touched && username?.invalid">
            <div *ngIf="username?.errors?.['required']">User Name is required</div>
            <div *ngIf="username?.errors?.['email']">Username should be email</div>  
            <div *ngIf="username?.errors?.['minlength']">Username is at least 10 characters</div>
        </div>
      
    </div>

    <div class="form-group" style="width: 400px;">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            type="text" 
            id="password" 
            class="form-control">
        <div class="alert alert-danger" *ngIf="password?.touched && password?.invalid">
            <div *ngIf="password?.errors?.['required']">Password is required</div>
        </div>
    </div>
  
    <button class="btn btn-primary" type="submit">Login</button>
    <p>Not yet created account</p>
    <nav>Signup</nav>

</form>