<h1>{{title}}</h1>
<!-- <app-heroes></app-heroes> -->
<nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<!-- <p style="color: greenyellow">test style</p>
<p [style.color]="'greenyellow'">test test</p> 
<img [attr.src]="imgURL" alt="">
<img [src]="" alt="">
<table>
    <thead>
        <tr>
            <th [attr.colspan]="colSpan">
                {{pageHeader}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{FirstName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{LastName}}</td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>{{Branch}}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>{{Mobile}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{Gender}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{Age}}</td>
        </tr>
    </tbody>
  </table> -->